# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# Base de datos (datos locales, no van al repo)
horarios.db

# Excel de migración inicial
planilla.xlsx

# Entorno virtual si usás uno
venv/
.venv/

# VS Code / editores
.vscode/
.idea/