# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# Base de datos
horarios.db

# Excel de migración inicial
planilla.xlsx

# Entorno virtual
venv/
.venv/

# VS Code / editores
.vscode/
.idea/